---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/logo.gif';

import { getEntry } from 'astro:content';
const entry = await getEntry('home', 'home');
const data = entry.data.home;
---

<!doctype html>
<Layout>
  <head>
    <BaseHead title={`Home | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="container">
      <div class="d-flex justify-content-center pb-4">
        <img class="rounded mw-100" src={Logo.src} alt="CivicTech Lab" />
      </div>
      <div class="row">
        {
          data.map((d) => (
            <div class="col-md-6 p-2">
              <div class="card h-100 text-center">
                {d.imgSrc && <img src={d.imgSrc} class="card-img-top" alt="" />}
                <div class="card-body">
                  <h5 class="card-title">{d.title}</h5>
                  <p class="card-text">{d.description}</p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</Layout>
<style>
  img[alt='CivicTech Lab'] {
    height: auto;
    width: auto;
    max-height: 348px;
  }

  img.card-img-top {
    object-fit: cover;
    height: 200px;
  }
</style>
